.sith {
    background-color: rgb(184, 147, 199);
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.sith > .name {
    color: red;
}

.sith > .title {
    color: blue;
}

.tall {
    height: 100px;
}