.sith {
    background-color: rgb(184, 147, 199);
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.sith > .name {
    color: red;
}

.sith > .title {
    color: blue;
}

.tall {
    height: 100px;
}

.namecard {
    max-width: 800px;
    min-width: 500px;
    margin: 10px auto;
    padding: 40px 200px;
    background-color: aliceblue;
    border: 1px solid royalblue;
}