.name {
    color: red;
}

.title {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.namecard {
    max-width: 800px;
    min-width: 500px;
    margin: 10px auto;
    padding: 40px 200px;
    background-color: aliceblue;
    border: 1px solid royalblue;
}